/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #454555;
	padding-top: 20px;
	/* background-color:rgb(173, 170, 189) !important;
	background-color:rgb(123, 165, 208) !important;
background-color: #EDEEFF !important; */
	background-color: #add1ff !important;
	/* color:white !important; */
}
/* body{
	background-color: grey !important;
} */
h1 {
	font-size: 1.5rem !important;
}
h6 {
	font-weight: 400 !important;
	font-size: 0.6rem !important;
	text-align: center !important;
	margin: auto;
	/* font-style: italic; */
	color: grey !important;
	padding: 10px;
	padding-top: 20%;
}
.gradient {
	text-align: center;
	padding: 2% 5px;
	padding-top: 10px;
	color: #6e63ec;
	color: #454555;

	/* background: black;
	
	background: linear-gradient(to right, orange ,  purple, blue);
	background:rgb(30, 1, 117);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	 */
	/* font-size: 20vw; */
	width: 380px;
	margin: auto;
}

.results p {
	color: #6e63ec;
	color: #33333e;
	/* font-size: 1.2rem; */
}
span {
	font-size: 0.8rem;
}

/* label {
	color:rgb(30, 1, 117);
} */
/* .btn.btn-secondary{
background-color: rgb(30, 1, 117) !important;
} */
.together {
	display: flex;
	gap: 10px;
	/* text-align: center; */
}
.half {
	width: 50%;
}
#or {
	margin-top: 40px;
}
/* .btn{
		filter: brightness(%);
	} */
form {
	color: #6e63ec !important;
	color: #454555 !important;
}
/* #tipJar{
		position: absolute;
		left: 10px;
		bottom: 5px;
	} */

/******************************************
/* SMOL DEVICES
/*******************************************/
/* @media (max-width:850px) { */

.whole {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
.calculator {
	width: 350px;
	margin: 10px 10px;
}
.results {
	padding-top: 20px;
	padding-left: 0px;
	display: block;
	width: 360px;
	padding-left: 5px;
	/* margin:auto; */
}

@media (min-width: 760px) {
	.results {
		/* border: 1px solid #6E63EC; */
		/* margin-left: 5%; */
		padding-left: 5%;
		/* width:370px; */
	}
}
@media (min-width:900px){
	.results{
		width:370px;
	}
}
@media (min-width:1200px){
	.results{
		width:400px;
	}
}


/* } */
/*
@media (min-width:421px) {

	.whole{
		width:90%;
	}
	.calculator{
		width:350px;
		margin: 0px auto;
		padding: 0 10px 0 10%;
		float:left;
	}
	.results{
		float:left;
		padding:10px;
		margin: 0px auto;
		display: block;
		width: 400px;
	}
}
*/
